.form-control{
    border:1px solid #cfcfcfa1 !important;
}
ul.sidebar-menu::-webkit-scrollbar-track {
    right: -2rem !important;

}
.control-value{
    border:1px solid #efefef9e !important;
}
*{
    --scrollbar-thumb-color: #016a4230 !important;
    scrollbar-width: thin !important;
    --scrollbar-track-color: transparent !important;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* .layout-main-section.frappe-card{
    max-width: 1200px;
    margin: auto;
}

.layout-main-section{
    max-width: 1200px;
    margin: auto;
}

.page-head.flex{
    max-width: 1260px;
    margin: auto;
}

.page-head.flex.drop-shadow{
    max-width: 3900px;
    margin: auto;
}


.row.flex.align-center.page-head-content.justify-between{
    max-width: 1230px;
    margin: auto;
} */