@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');



.breadcrumb-area {
  /* position: relative; */
  /* background: url('../assets/images/footer.png');  */
  background: url('../src/assets/images/hero-banner.png'); 
  background-size:cover;
  /* background-attachment: fixed; */
  height: 400px;
  /* margin-top: 26px;  */
}

a, p{
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
}
h2{
  color: #000; font-weight: 700; font-size: 3rem; font-family: Inter;
}

h3{
    font-size: 30px;
    font-weight: 60px;
    padding: 20px;
    color: #fff;
}
img{
  border-radius: 7px;
}
.card-link:hover .card {
    transition: .2s;
     box-shadow: 4px 8px 14px 4px rgba(0, 0, 0, 0.2); /* Customize the shadow style as needed */
   }
 